.espacioCentral div{
    float: left;
    justify-content: center;
}

.rueda {
    background-image: url(img/ruedaMetales.webp);
    background-repeat: no-repeat;
    height: 460px;
    width: 460px;
    margin: 8%;
}

.texto {
        background-image: url(img/copiaText.png);
    background-repeat: no-repeat;
    margin-top: 5%;
    width: 800px;
    height: 500px;
    padding-top: 5%;
    padding-left: 5%;
}

.texto img {
    width: 3%;
    margin-right: 5%;
}

.tabla {
    display: grid;
    background-color: aqua;
    width: 300px;
    height: 300px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}